<div class="btn-group">
  <a href="#" class="btn btn-success"><i class="icon-user icon-white"></i> User</a>
  <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <%= render partial: 'users/login' %>
  </ul>
</div>