= search_form_for(@q, :url=> "/questions/search", :html=> {:method => :get, class: "navbar-search pull-right"}) do |f|
  = f.text_field(:content_cont, class: "search-query", placeholder: "Search Questions")
  = f.submit "Search", class: "btn"
