.error-box
  .header
    404: Page not found
  .content
    =image_tag "http://openclipart.org/image/250px/svg_to_png/876/valessiobrito_Fire_June_holiday_s.png"
  .footer
    If you wish to help, drop a note to
    =link_to "@karthik_ak", "http://twitter.com/karthik_ak"