// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tag-list{
  font-size: 10px;
  margin: 0px;
  display: inline;
  li{
    display: inline;
    margin-right: 3px;
  }
}