// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.question{
	padding-bottom: 2em;
	border-bottom: 1px solid #CACACA;
}

div.question, div.answer{
  
  margin-top: 2em;
  margin-bottom: 2em;
  
  div.action{
    margin-top: 1em;
  }
  
  p{
    font-size: 12pt;
    line-height: 125%;
  }
}

textarea.big-width{
  width: 80%;
}

$heaing_color: #999999;

h1.grey-heading{
  color: $heaing_color;
  font-size: 16pt;
  padding-bottom: 3px;
  border-bottom: $heaing_color 2px dotted;
}

a.margin-top{
  margin-top: 2em;
}

a.image:hover{
  background:  none;
}

span.little-info{
  font-size: 10px;
  color: #aaaaaa;
}

// correcting will_paginate mis-display
.pagination a.previous_page{
  border-left: 1px solid #DDDDDD;
}

.pagination span, .pagination em{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}

.pagination .current{
  background: #99ffff;
}
// correction ends


div.tag_search{
  margin-top: 0px;
  margin-bottom: 0px;
}
