// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.question, div.answer{
  
  margin-top: 2em;
  margin-bottom: 2em;
  
  div.action{
    margin-top: 1em;
  }
  
  p{
    font-size: 12pt;
    line-height: 125%;
  }
}

textarea.big-width{
  width: 80%;
}

$heaing_color: #999999;

h1.grey-heading{
  color: $heaing_color;
  font-size: 16pt;
  padding-bottom: 3px;
  border-bottom: $heaing_color 2px dotted;
}

a.margin-top{
  margin-top: 2em;
}